.icon-viber,
.icon-vodafone,
.icon-lifecell {
	display: inline-block;
}
.icon-viber {
	background: url("../img/viber.svg") no-repeat;
	background-size: 100% 100%;
}
.icon-vodafone {
	background: url("../img/vodafone.svg") no-repeat;
	background-size: 100% 100%;
}
.icon-lifecell {
	background: url("../img/lifecell.svg") no-repeat;
	background-size: 100% 100%;
}