// Reset CSS
@import "reset.scss";

// Icons
@import "icons.scss";



// Mixins
@mixin font ($fs, $lh) {
	font-size: $fs;
	line-height: $lh;
}

@mixin flex ($f, $fd, $g, $ai, $jc) {
	display: $f;
	flex-direction: $fd;
	gap: $g;
	align-items: $ai;
	justify-content: $jc;
}

@mixin grid ($g, $gtc, $gap, $ai, $jc) {
	display: $g;
	grid-template-columns: $gtc;
	gap: $gap;
	align-items: $ai;
	justify-content: $jc;
}



* {
	font-family: 'Rubik', sans-serif;
}



h1, h2 {
	@include font(40px, 47px);
	color: #313131;
	font-weight: 500;
}

h3 {
	@include font(30px, 36px);
	font-weight: 500;
}

h4 {
	@include font(26px, 31px);
}

@media (max-width: 767.5px) {
	h1, h2 {
		@include font(32px, 39px);
	}

	h3 {
		@include font(26px, 31px);
	}

	h4 {
		@include font(22px, 26px);
	}
}

@media (max-width: 575.5px) {
	h1, h2 {
		@include font(25px, 32px);
	}

	h3 {
		@include font(21px, 25px);
	}

	h4 {
		@include font(19px, 22px);
	}
}



.content-container {
	width: 100%;
	max-width: calc(1280px + 30px); // 30px = padding left + padding right
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 575px) {
	.content-container {
		padding: 0 10px;
	}
}



.header {

	&__ad {
		background: #34D186;

		display: grid;
		grid-template-rows: 1fr;
		transition: grid-template-rows 0.2s ease-out;

		.content-container {
			overflow: hidden;
		}

		&-container {
			position: relative;

			padding: 15px 0;
			@include flex(flex, row, 0, center, space-between);
			
			background: url("../img/wheel.png") no-repeat;
			background-size: 367px 367px;
			background-position: right 12.21% top -51px;

			overflow: hidden;
		}

		&-text-btn {
			position: relative;
			z-index: 2;

			@include flex(inline-flex, row, 42px, center, flex-start);

			p {
				@include font(26px, 36px);
				font-weight: 500;
				color: #FFF;
			}

			a {
				display: inline-block;
				padding: 11px 23px 12px 22px;

				@include font(14px, 1);
				font-weight: 600;
				color: #FFF;

				border-radius: 8px;
				background: #313131;
			}
		}

		&-close {
			position: relative;
			z-index: 2;

			width: 24px;
			height: 24px;

			background: url("../img/close.svg") no-repeat;
			background-size: 100% 100%;

			cursor: pointer;
		}
	}

	&__top {
		background: #272727;
		
		&-container {
			@include flex(flex, row, 0, center, space-between);
			padding: 9px 0;
		}

		&-menu-tels-lang {
			width: calc(100% - (3.5% + 119px));
			@include flex(flex, row, 30px, center, space-between);
		}

		&-menu {

			ul {
				@include flex(inline-flex, row, 15px, center, flex-start);

				li {

					a {
						@include font(12px, 1);
						color: #FFF;
					}
				}
			}
		}

		&-tels {
			@include flex(inline-flex, row, 15px, center, flex-start);

			li {

				a {
					display: inline-block;
					padding-left: 24px;

					@include font(12px, 16px);
					color: #FFF;

					background: url("../img/tel.svg") no-repeat;
					background-size: 16px 16px;
					background-position: left;
				}
			}
		}

		&-lang {
			@include flex(inline-flex, row, 0px, center, flex-start);

			span, a {
				display: inline-block;
				padding: 6px 11px 6px 10px;

				@include font(12px, 1);
				color: #FFF;
				font-weight: 500;

				border-radius: 6px;
			}

			span {
				background: #34D186;
			}
		}

		&-cart {

			a {
				position: relative;

				display: inline-block;
				padding-right: 32px;

				@include font(12px, 24px);
				color: #FFF;
				font-weight: 500;

				background: url("../img/cart.svg") no-repeat;
				background-size: 24px 24px;
				background-position: right;

				span {
					color: #989898;
					font-weight: 400;

					&:before {
						content: "(";
					}
					&:after {
						content: ")";
					}
				}
			}
		}
	}

	&__center {
		background: #313131;

		&-container {
			padding: 20px 0;
			@include grid(grid, auto 1fr auto, 44px, center, left);
		}

		&-logo {
			display: inline-block;

			img {
				height: 80px;
			}
		}

		&-search {
			position: relative;

			input {
				position: relative;
				z-index: 1;

				width: 100%;
				padding: 15px 53px 15px 17px;

				@include font(14px, 20px);
				color: #fff;

				border-radius: 10px;
				background: #464646;
			}

			button {
				position: absolute;
				z-index: 2;
				right: 15px;
				top: 15px;

				width: 20px;
				height: 20px;

				background: url("../img/search.svg") no-repeat;
				background-size: 100% 100%;
			}
		}

		&-account {
			@include grid(grid, auto 1fr, 8px 14px, center, left);

			img {
				grid-column: 1 / 2;
				grid-row: 1 / 3; 
				width: 36px;
				height: 36px;

				object-fit: cover;
			}

			span:nth-child(2) {
				@include font(14px, 18px);
				color: #FFF;
				font-weight: 500;
			}

			span:nth-child(3) {
				@include font(12px, 14px);
				color: #989898;

				span {
					text-decoration: underline;
				}
			}
		}
	}

	&__bottom {
		background: #FFF;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.14);

		
		&-container {
		}

		&-burger {
			display: none;
			padding: 15px 0;

			button {
				@include flex(flex, column, 0px, stretch, space-around);

				width: 35px;
				height: 35px;

				background: transparent;

				span {
					display: inline-block;
					height: 5px;
					width: 100%;

					background: #313131;
					border-radius: 5px;
				}
			}
		}

		&-menu {
			position: relative;

			> ul:nth-child(1) {
				@include flex(flex, row, 0px, stretch, space-between);
			
				> li {

					> span, > a {
						@include flex(flex, row, 0px, center, center);
						padding: 11px 10px 13px 10px;
						height: 100%;

						@include font(14px, 18px);
						color: #313131;
						text-align: center;
						font-weight: 500;

						cursor: pointer;
					}
				}
			}
		}

		&-menu-sub {
			position: absolute;
			top: 100%;
			left: auto;
			z-index: 10;

			padding: 0 20px 20px 20px;
			@include flex(flex, row, 0 20px, flex-start, flex-start);
			flex-wrap: wrap; 
			max-width: 890px; // 890px = 3 columns

			background: #fff;
			box-shadow: 0px 2px 5px rgba(0,0,0,.18);

			visibility: hidden;

			transition-delay: .25s;

			div {
				width: 270px;

				span {
					display: inline-block;
					margin: 20px 0 15px 0;

					@include font(14px, 18px);
					color: #313131;
					font-weight: 600;
				}

				ul {
					@include flex(flex, column, 10px, flex-start, flex-start);

					li {

						a {
							@include font(14px, 1);
							color: #313131;
						}
					}
				}

			}

				

			&_right {
				left: auto;
				right: 0;
			}
		}
	}
		
}

@media (hover: hover) {
	.header {

		&__top {
			&-menu {

				ul {

					li {

						a:hover {
							color: #32BB78;
							text-decoration: underline;
						}
					}
				}
			}
		}

		&__bottom {

			&-menu-sub {

				div {

					ul {

						li {

							a:hover {
								opacity: 0.85;
							}
						}
					}
				}	
			}
		}
	}
}

@media (min-width: 991.6px) {
	.header	{

		&__bottom {

			&-menu {

				> ul:nth-child(1) {
					
					> li:hover {

						> span {
							color: #FFF;

							background: #313131;
						}

						.header__bottom-menu-sub {
							visibility: visible;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1199.5px) {
	.header {
		
		&__ad {

			&-container {
				background-position: right 7% top -51px;
			}
		}

		&__top {

			&-tels {

				li:nth-child(3) {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 1099.5px) {
	.header {
		
		&__ad {

			&-container {
				background-size: 300px 300px;
				background-position: right 5% top -41px;	
			}

			&-text-btn {
				gap: 25px;
			}
		}
	}
}

@media (max-width: 1060px) {
	.header {

		&__top {

			&-tels {

				li:nth-child(2) {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 991.5px) {
	.header {
		
		&__ad {
			display: none;
		}

		&__top {

			&-container {
				position: relative;
				padding: 15px 0;
			}

			&-menu-tels-lang {
				width: auto;
				gap: 0;
			}

			&-menu {
				display: none;
			}

			&-lang {
				position: absolute;

				top: 11px;
				left: 50%;

				transform: translate(-50%, 0);
			}
		}

		&__center {

			&-container {
				padding: 15px 0;
				gap: 30px;
			}

			&-logo {

				img {
					height: 60px;
				}
			}
		}

		&__bottom {

			&-burger {
				display: block;
			}

			&-menu {
				display: grid;
  				grid-template-rows: 0fr;
				transition: all 0.5s ease-out;

				> ul:nth-child(1) {
					@include flex(flex, column, 8px, stretch, stretch);
					overflow: hidden;

					> li {
						display: grid;
  						grid-template-rows: 28px 0fr;

  						transition: grid-template-rows 0.5s ease-out;

						> span, > a {
							align-items: stretch;
							justify-content: stretch;
							padding: 5px 0;
							height: auto;

							@include font(16px, 21px);
							text-align: left;
						}
					}
					> li.open {
						grid-template-rows: 28px 1fr;

						.header__bottom-menu-sub {
							visibility: visible;
							margin-top: 0;
							padding: 0 15px 15px 15px;
							border-top-color: #313131;
						}
					}
				}

				&_open {
					grid-template-rows: 1fr;
					padding-bottom: 15px;
				}
			}

			&-menu-sub {
				position: static;
				
				width: auto;
				padding: 0 15px;
				margin-top: -6px;
				display: block;

				box-shadow: none;
				border-top: 1px solid rgba(0, 0 ,0 ,0);

				transition: all 0.5s ease-out;

				overflow: hidden;

				div {
					width: auto;

					span {
						margin: 15px 0 11px 0;

						@include font(16px, 21px);
					}

					ul {
						gap: 8px;

						li {

							a {
								@include font(16px, 19px);
							}
						}
					}
				}	
			}
		}
	}
}

@media (max-width: 767.5px) {
	.header {

		&__center {

			&-container {
				padding: 15px 0;
				grid-template-columns: auto 1fr;
				gap: 15px 0;
			}

			&-logo {

				img {
					height: 50px;
				}
			}

			&-search {
				grid-column: 1 / 3;
				grid-row: 2 / 3;
			}

			&-account {
				justify-self: right;
			}
		}

		&__bottom {

			&-burger {
				padding: 10px 0;
			}
		}
	}
}

@media (max-width: 575.5px) {
	.header {

		&__top {

			&-tels {

				li {

					a {
						padding-left: 21px;
					}
				}
			}

			&-lang {
				top: 13px;

				span, a {
					padding: 4px 6px 4px 6px;
				}
			}

			&-cart {

				a {
					padding-right: 28px;
				}
			}
		}

		&__center {

			&-search {

				input {
					padding: 10px 40px 10px 11px;
				}

				button {
					right: 10px;
					top: 10px;
				}
			}
		}
	}
}



.main {}



.p_18-21 {
	@include font(18px, 21px);
}

@media (max-width: 767.5px) {
	.p_18-21 {
		@include font(17px, 19px);
	}
}

@media (max-width: 575.5px) {
	.p_18-21 {
		@include font(16px, 18px);
	}
}



.car-choice {
	position: relative;
	z-index: 5;

	&__container {
		padding: 70px 0;

		> h1 {

		}

		> p {
			margin: 16px 0 50px 0;

			color: #313131;
		}
	}
	
	&__tabs1 {

		&-btns {
			@include flex(inline-flex, row, 11px, center, flex-start);

			button {
				$anim: all 0.15s ease;

				width: 256px;
				padding: 15px 20px;
				@include flex(inline-flex, row, 12px, center, center);
			
				border-radius: 10px;
				background: #F4F4F4;

				transition: $anim;

				svg {
					width: 20px;
					height: 20px;

					path {
						transition: $anim;
					}
				}

				span {
					@include font(16px, 19px);
					color: #313131;
					font-weight: 500;

					transition: $anim;
				}
			}

			button:nth-child(1) {
				svg {

					path {
						fill: #313131;
					}
				}
			}

			button:nth-child(2),
			button:nth-child(3) {
				svg {

					path {
						stroke: #313131;
					}
				}
			}

			button.active,
			button:hover {
				background: #34D186;

				span {
					color: #FFF;
				}
			}

			button:nth-child(1).active,
			button:nth-child(1):hover {
				svg {

					path {
						fill: #FFFFFF;
					}
				}
			}

			button:nth-child(2).active,
			button:nth-child(2):hover,
			button:nth-child(3).active,
			button:nth-child(3):hover {
				svg {

					path {
						stroke: #FFFFFF;
					}
				}
			}
		}

		&-content {
			display: none;
		}
		&-content.open {
			display: block;
		}
	}
		
	&__tabs2 {
		padding: 10px 0 0 0;

		&-btns {
			@include flex(inline-flex, row, 10px, center, flex-start);

			button {
				$anim: all 0.15s ease;

				position: relative;

				width: 190px;
				padding: 15px 44px 15px 20px;

				@include font(16px, 19px);
				color: #FFF;
				font-weight: 500;
				text-align: left;

				border-radius: 10px;
				background: #313131;

				&:after {
					content: "";

					position: absolute;
					top: 15px;
					right: 16px;

					display: inline-block;
					width: 20px;
					height: 20px;

					background: url("../img/arrow_white.svg") no-repeat;
					background-size: 100% 100%;
				}
			}

			button:disabled {
				color: #989898;

				background: #F4F4F4;

				cursor: not-allowed;

				&:after {
					background: url("../img/arrow_grey.svg") no-repeat;
					background-size: 100% 100%;
				}
			}
		}

		&-content {
			margin-top: 10px;
			
			filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.14));
			background: #F4F4F4;

			button {
				padding: 13px 20px 20px 21px;

				@include font(14px, 20px);
				color: #313131;
				text-align: left;

				border-right: 1px solid #DCDCDC;
				border-bottom: 1px solid #DCDCDC;

				background: #fff;
			}

			button:hover {
				color: #34D186;
				text-decoration: underline;

				background: #F4F4F4;
			}

			button:disabled {
				color: #DCDCDC;

				background: #F4F4F4;

				cursor: not-allowed;
			}

			&_table6 {
				@include grid(grid, repeat(auto-fill, minmax(190px, 1fr)), 0, stretch, stretch);
			}

			&_engine {

				div {
					@include grid(grid, repeat(auto-fill, minmax(90px, 1fr)), 0, stretch, stretch); 

					p {
						padding: 13px 20px 20px 21px;
						grid-column: 1 / 3; 

						@include font(14px, 20px);
						color: #313131;

						background: #fff;
						border-right: 1px solid #DCDCDC;
						border-bottom: 1px solid #DCDCDC;

						cursor: not-allowed;
					}
				}
			}

			&_mod {
				@include grid(grid, repeat(auto-fill, minmax(220px, 1fr)), 0, stretch, stretch);

				button {
					position: relative;

					p {
						@include font(14px, 20px);
						font-weight: 500;
					}

					span {
						display: block;
						
						@include font(12px, 20px);
					}

					div {
						position: absolute;
						top: 100%;
						left: 0;

						display: none;
						width: 100%;
						padding: 13px 20px 20px 21px;

						background: #F4F4F4;
					}
				}

				button:hover {
					text-decoration: none;
				}
			}
		}
	}
	
	&__v-n {
		padding: 20px 0 0 0;

		p {
			display: inline-block;
			margin-right: 30px;

			color: #313131;
		}

		&-input {
			@include grid(inline-grid, 1fr auto, 0, stretch, stretch);
			width: 100%;
			max-width: 376px;

			input {
				width: 100%;
				padding: 15px 17px;

				@include font(16px, 20px);
				color: #313131;
				text-align: center;

				border-radius: 10px 0 0 10px;
				background: #F4F4F4;
			}

			button {
				padding: 15px;

				@include font(16px, 20px);
				color: #fff;

				border-radius: 0 10px 10px 0;
				background: #34D186;
			}
		}
	}
}

@media (hover: hover) {
	.car-choice {

		&__tabs2 {

			&-content {

				&_mod {

					button:hover {

						div {
							display: block;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1020px) {
	.car-choice {

		&__container {
			padding: 50px 0;

			> p {
				margin: 14px 0 40px 0;
			}
		}

		&__tabs1 {

			&-btns {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
			}
		}

		&__tabs2 {
			padding: 25px 0 0 0;

			&-btns {
				justify-content: center;
				flex-wrap: wrap;
			}

			&-content {

				&_engine {

					div {

						p {
							grid-row: 1 / 2;
							grid-column: 1 / -1; 
						}
					}	
				}
			}	
		}

		&__v-n {
			text-align: center;

			p {
				display: block;
				margin: 0 0 10px 0;
			}
		}
	}
}

@media (max-width: 767.5px) {
	.car-choice	{

		&__container {
			padding: 40px 0;

			> p {
				margin: 12px 0 30px 0;
			}
		}
	}
}

@media (max-width: 575.5px) {
	.car-choice	{

		&__container {
			padding: 30px 0;

			> p {
				margin: 10px 0 25px 0;
			}
		}

		&__tabs1 {

			&-btns {

				button {
					width: auto;
				}
			}
		}

		&__tabs2 {

			&-btns {

				button {
					width: auto;
				}
			}

			&-content {

				&_table6 {
					grid-template-columns: 1fr 1fr;
				}

				&_mod {
					grid-template-columns: 1fr 1fr;
				}
			}
		}
	}
}



.swiper-fullwidth {
	height: 496px;

	.owl-stage-outer,
	.owl-stage,
	.owl-item  {
		height: 100%;
	}

	&__slide {
		position: relative;
		height: 100%;

		&-container {
			position: relative;
			z-index: 2;

			max-width: calc(1018px + 80px + 80px); // width + padding
			padding: 0 80px;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			@include flex(flex, column, 28px, flex-start, center);

			p {

				span {
					color: #34D186;
				}
			}
		}
	}

	&__image {
		position: absolute;
		z-index: 1;

		height: 100%;
		width: 100%;

		img {
			position: relative;
			z-index: 1;

			height: 100%;
			width: 100%;

			object-fit: cover;
		}

		&:after {
			content: "";

			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;

			display: block;
			height: 100%;
			width: 100%;

			background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
		}
	}

	&__title {
		max-width: 750px;

		@include font(60px, 71px);
		color: #FFF;
		font-weight: 500;
	}

	&__text {
		max-width: 750px;

		@include font(30px, 36px);
		color: #FFF;
	}
}
.owl-carousel {

	.owl-nav {

		button.owl-prev,
		button.owl-next {
			position: absolute;
			z-index: 2;
			top: calc(50% - 25px);

			width: 50px;
			height: 50px;
			padding: 15px;
			margin: 0;

			border-radius: 100px;
			background: rgba(0, 0, 0, 0.50);

			transition: background 0.2s ease;

			img {
				width: 20px;
				height: 20px;
			}
		}
		button.disabled {
			opacity: 1 !important;
			background: rgba(0, 0, 0, 0.50) !important;
		}

		button.owl-prev {
			left: calc((100% - 1280px) / 2);
		}
		button.owl-next {
			right: calc((100% - 1280px) / 2);

			img {
				transform: rotate(180deg);
			}
		}
	}

	.owl-nav [class*=owl-]:hover {
		background: rgba(52, 209, 134, 0.70);
	}
}

@media (max-width: 1310px) {
	.owl-carousel {

		.owl-nav {

			button.owl-prev {
				left: 15px;
			}

			button.owl-next {
				right: 15px;
			}
		}
	}
}

@media (max-width: 991px) {
	.swiper-fullwidth {
		height: 400px;

		&__slide {

			&-container {
				gap: 22px;
			}
		}

		&__title {
			max-width: 650px;

			@include font(50px, 60px);
		}

		&__text {
			max-width: 650px;

			@include font(26px, 31px);
		}
	}
}

@media (max-width: 767.5px) {
	.swiper-fullwidth {
		height: 300px;

		&__slide {

			&-container {
				gap: 16px;
			}
		}

		&__title {
			max-width: 470px;

			@include font(36px, 43px);
		}

		&__text {
			max-width: 470px;

			@include font(20px, 24px);
		}
	}
}

@media (max-width: 575px) {
	.swiper-fullwidth {

		&__slide {

			&-container {
				gap: 12px;
				margin: 0;

				padding: 10px 30px 60px 30px;

				justify-content: flex-start;
				justify-content: center;
			}
		}

		&__title {
			max-width: 370px;

			@include font(29px, 37px);
		}

		&__text {
			max-width: 370px;

			@include font(17px, 21px);
		}
	}
	.owl-carousel {

		.owl-nav {

			button.owl-prev,
			button.owl-next {
				top: calc(100% - 50px - 10px);
			}

			button.owl-prev {
				left: 10px;
			}

			button.owl-next {
				right: 10px;
			}
		}
	}
}



.h2_pt75-pb50 {
	padding-top: 75px;
	padding-bottom: 50px;
}

@media (max-width: 991.5px) {
	.h2_pt75-pb50 {
		padding-top: 54px;
		padding-bottom: 40px;
	}
}

@media (max-width: 767.5px) {
	.h2_pt75-pb50 {
		padding-top: 43px;
		padding-bottom: 30px;
	}
}

@media (max-width: 575.5px) {
	.h2_pt75-pb50 {
		padding-top: 32px;
		padding-bottom: 20px;
	}
}



.category-cards-grid {
	@include grid(grid, repeat(auto-fill, minmax(220px, 1fr)), 25px, stretch, stretch);

	a {
		position: relative;
	
		display: inline-block;
		height: 300px;

		border-radius: 16px;

		overflow: hidden;

		img {
			position: relative;
			z-index: 1;

			width: 100%;
			height: 100%;

			object-fit: cover;
		}

		p {
			position: absolute;
			z-index: 4;
			bottom: 36px;
			left: 50%;

			width: calc(100% - 50px);

			@include font(18px, 24px);
			color: #FFF;
			text-align: center;
			font-weight: 500;
			text-decoration: underline;
			text-decoration-color: transparent;

			transform: translate(-50%, 0);
		}

		&:after {
			content: "";

			position: absolute;
			z-index: 2;
			bottom: 0;
			left: 0;

			display: inline-block;
			height: 46%;
			width: 100%;

			background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
		}

		&:before { // hover
			content: "";

			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;

			display: inline-block;
			height: 100%;
			width: 100%;

			background: url("../img/category-card-hover-arrow.svg") no-repeat, linear-gradient(0deg, rgba(52, 209, 134, 0.70) 0%, rgba(52, 209, 134, 0.70) 100%);
			background-size: 100px 100px, 100% 100%;
			background-position: top 76px center, center;

			opacity: 0;

			transition: all 0.3s ease;
		}
	}
}

@media (hover: hover) {
	.category-cards-grid {

		a:hover {

			p {
				text-decoration-color: #FFF;
			}

			&:before {
				opacity: 1;
			}
		}
	}
}

@media (max-width: 490px) {
	.category-cards-grid {
		grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
		gap: 10px;

		a {
			height: 236px;

			p {
				bottom: 25px;

				@include font(14px, 18px);
			}
		}
	}
}

@media (max-width: 360px) {
	.category-cards-grid {
		grid-template-columns: 236px;
		justify-content: center;
		gap: 15px;
	}
	.h2_mw360-center {
		text-align: center;
	}
}



.pt-pb-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}

@media (max-width: 991.5px) {
	.pt-pb-80 {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

@media (max-width: 767.5px) {
	.pt-pb-80 {
		padding-top: 48px;
		padding-bottom: 48px;
	}
}

@media (max-width: 575.5px) {
	.pt-pb-80 {
		padding-top: 35px;
		padding-bottom: 35px;
	}
}



.contact-us {

	&__container {
		position: relative;

		padding: 39px 48px 46px 48px;

		border-radius: 16px;
		background: radial-gradient(822.23% 104.73% at 69.34% -0.00%, #5EF8AE 0%, #32BB78 100%);

		h2, p, a {
			position: relative;
			z-index: 2;
		}

		h2, p {
			max-width: 39.7%;

			color: #FFF;
		}

		p {
			margin: 14px 0 36px 0;

			color: #FFF;
		}

		a {
			display: inline-block;
			width: 280px;
			padding: 15px 25px 16px 25px;

			@include font(16px, 19px);
			color: #FFF;
			font-weight: 500;
			text-align: center;

			border-radius: 10px;
			background: #313131;
		}

		img {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;

			width: 62.5%;

			pointer-events: none;
		}
	}
}

@media (max-width: 991.5px) {
	.contact-us {

		&__container {
			padding: 30px 40px 35px 40px;

			h2 {
				max-width: 65%;
				min-width: 465px;
			}

			p {
				margin: 12px 0 28px 0;
				max-width: 45%;
			}

			img {
				width: 55%;
			}
		}
	}
}

@media (max-width: 767.5px) {
	.contact-us {

		&__container {
			padding: 20px 20px 0px 20px;

			text-align: center;

			h2 {
				margin: 0 auto;
				min-width: auto;
				max-width: 440px;
			}

			p {
				max-width: none;
				margin: 10px 0 20px 0;
			}

			img {
				position: relative;

				display: block;
				margin: 20px auto 0 auto;
				width: 400px;
			}
		}
	}
}

@media (max-width: 575.5px) {
	.contact-us {

		&__container {
			padding: 20px 15px 0px 15px;

			h2 {
				max-width: 400px;
			}

			a {
				width: auto;
			}

			img {
				width: 100%;
				max-width: 300px;
				margin: 15px auto 0 auto;
			}
		}
	}
}



.bg_F4F4F4 {
	background: #F4F4F4;
}



.pb-78 {
	padding-bottom: 78px;
}

@media (max-width: 991.5px) {
	.pb-78 {
		padding-bottom: 59px;
	}
}

@media (max-width: 767.5px) {
	.pb-78 {
		padding-bottom: 47px;
	}
}

@media (max-width: 575.5px) {
	.pb-78 {
		padding-bottom: 34px;
	}
}



.car-parts-cards-grid {
	@include grid(grid, repeat(auto-fill, minmax(230px, 1fr)), 25px, stretch, stretch);
}

@media (max-width: 510px) {
	.car-parts-cards-grid {
		grid-template-columns: 260px;
		justify-content: center;
		gap: 0;
	}
	.h2_mw510-center {
		text-align: center;
	}
}

.car-parts-card {
	$anim: all 0.15s ease;

	position: relative;

	height: 90px;
	padding: 0 35px 0 19px;
	@include flex(inline-flex, row, 20px, center, flex-start);

	border-radius: 12px;

	transition: $anim;

	img {
		width: 40px;
		height: 40px;

		object-fit: contain;
	}

	&__txt-container {
		color: #313131;
		text-decoration: underline;
		text-decoration-color: transparent;

		transition: $anim;
	}
	&__text {
		@include font(14px, 22px);
	}
	&__car-name {
		@include font(16px, 22px);
		text-transform: uppercase;
	}

	&:after {
		content: "";

		position: absolute;
		top: 35px;
		right: 15px;

		display: inline-block;
		width: 20px;
		height: 20px;

		background: url("../img/arrow_grey.svg") no-repeat;
		background-size: 100% 100%;

		transform: rotate(-90deg);
	}
}

@media (hover: hover) {
	.car-parts-card:hover {
		background: #FFF;
		box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.14);

		.car-parts-card__txt-container {
			color: #34D186;
			text-decoration-color: #34D186;
		}
	}
}



.helpful-info-cards-grid {
	@include grid(grid, repeat(auto-fill, minmax(258px, 1fr)), 27px, stretch, stretch);
}

@media (max-width: 1150px) {
	.helpful-info-cards-grid {
		grid-template-columns: 340px 340px;
		justify-content: center;
	}
	.h2_helpful-center {
		text-align: center;
	}
}

@media (max-width: 767.5px) {
	.helpful-info-cards-grid {
		grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
		gap: 20px; 
	}
	.h2_helpful-center {
		text-align: left;
	}
}

@media (max-width: 575.5px) {
	.helpful-info-cards-grid {
		grid-template-columns: 200px 200px;
		gap: 15px; 
	}
	.h2_helpful-center {
		text-align: center;
	}
}

@media (max-width: 440px) {
	.helpful-info-cards-grid {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		gap: 10px; 
	}
	.h2_helpful-center {
		text-align: left;
	}
}

@media (max-width: 360px) {
	.helpful-info-cards-grid {
		grid-template-columns: 200px;
		gap: 15px;
	}
	.h2_helpful-center {
		text-align: center;
	}
}

.helpful-info-card {
	$anim: all 0.2s ease;

	position: relative;

	padding: 244px 41px 42px 41px;

	background: url("../img/helpful-info_shadow.svg") no-repeat, #32BB78;
	background-position: top 265px right 30px, center;
	border-radius: 16px;

	transition: $anim;

	overflow: hidden;

	&:before {
		content: "";

		position: absolute;
		z-index: 1;
		top: -94px;
		right: -195px;

		display: inline-block;
		width: 390px;
		height: 390px;

		border-radius: 390px;
		background: #5EF8AE;
		filter: blur(100px);

		transition: $anim;
	}

	&:after {
		content: "";

		position: absolute;
		z-index: 1;
		bottom: -149px;
		left: -95px;
		
		display: inline-block;
		width: 386px;
		height: 386px;

		border-radius: 386px;
		background: #2A9461;
		filter: blur(150px);

		transition: $anim;
	}

	&__image {
		position: absolute;
		z-index: 2;

		pointer-events: none;


		&_1 {
			top: 64px;
			right: 28px;

			width: 189px;
			height: 148px;
		}
		&_2 {
			top: 40px;
			right: -10px;

			width: 285.173px;
			height: 177.98px;
			
			transform: rotate(45deg);
		}
		&_3 {
			top: 45px;
			right: 25px;

			width: 192px;
			height: 170px;
		}
		&_4 {
			top: 43px;
			right: 34px;

			width: 195px;
			height: 189px;
		}
	}

	svg,
	&__title,
	&__text {
		position: relative;
		z-index: 2;
	}

	svg {
		width: 70px;
		height: 70px;
	}

	&__title {
		margin: 24px 0 12px;

		@include font(30px, 36px);
		color: #FFF;
		font-weight: 500;
		text-decoration: underline;
		text-decoration-color: transparent;

		transition: $anim;
	}

	&__text {
		@include font(18px, 24px);
		color: #FFF;
	}
}

@media (hover: hover) {
	.helpful-info-card:hover {

		background: url("../img/helpful-info_shadow.svg") no-repeat, #313131;
		background-position: top 265px right 30px, center;

		&:before {
			background: #696969;
		}

		&:after {
			background: #434343;
		}

		.helpful-info-card__title {
			color: #34D186;
			text-decoration-color: #34D186;
		}
	}
}

@media (max-width: 767.5px) {
	.helpful-info-card {
		padding: 244px 20px 21px 20px;

		&__title {
			@include font(26px, 31px);
		}

		&__text {
			@include font(17px, 22px);
		}
	}
}

@media (max-width: 575.5px) {
	.helpful-info-card {
		padding: 150px 15px 16px 15px;

		background-position: top 155px right -10px, center;

		&:before,
		&:after {
			transform: scale(0.5);
		}

		&:before {
			top: -150px;
			right: -350px;
		}

		&:after {
			bottom: -150px;
			left: -150px;
		}

		&__image {
			transform: scale(0.6);

			&_1 {
				top: 0;
				right: -10px;
			}

			&_2 {
				top: -10px;
				right: -60px;

				transform: scale(0.6) rotate(45deg);
			}

			&_3 {
				top: -8px;
				right: -15px;
			}
			&_4 {
				top: -13px;
				right: -15px;
			}
		}

		svg {
			width: 50px;
			height: 50px;
		}

		&__title {
			margin: 16px 0 8px;

			@include font(22px, 26px);
		}

		&__text {
			@include font(16px, 20px);
		}
	}
}



.text {

	p, li {
		@include font(14px, 22px);
	}

	ol {

		li {
			list-style-position: inside;
		}
	}

	ul {

		li {

			&:before {
				content: "· ";
				font-weight: 700;
			}
		}
	}

	a {
		color: #34D186;
	}

	.links_separator {
		a {

			&:after {
				content: "|";
				padding-left: 4px;
			}

			&:last-child:after {
				content: "";
				padding-left: 0;
			}
		}	
	}

	.links_clr989898 {
		a {
			color: #989898;
		}
	}

	&_clr696969 {
		color: #696969;
	}
}

@media (hover:hover) {
	.text {

		a:hover {
			text-decoration: underline;
		}
	}
}

@media (max-width: 575.5px) {
	.text {

		p, li {
			@include font(13px, 20px);
		}

		.links_separator {
			a {

				&:after {
					padding-left: 3px;
				}
			}
		}
	}
}



.breadcrumb {
	padding: 40px 0;
	@include flex(flex, row, 0px, flex-start, flex-start);

	li {
		@include font(14px, 20px);
		color: #696969;
		font-weight: 300;

		&:after {
			content: "/";

			display: inline-block;
			padding: 0 3.56px;
		}

		&:last-child:after {
			display: none;
		}

		a {
			color: inherit;
			text-decoration-line: underline;
		}
	}
}



.footer {
	margin-top: 100px;

	background: #313131;

	&__container {
		@include grid(grid, 21.4% 18.82% 16.96% 23.99% 18.83%, 0, start, stretch);
		padding: 62px 0 73px 0;
	}
	
	&__tels {

		&-items {
			@include flex(flex, column, 20px, flex-start, flex-start);

			a {
				@include flex(flex, row, 12px, flex-start, flex-start);

				span:nth-child(1) { // icon
					width: 20px;
					height: 20px;
				}

				span:nth-child(2) {
					@include font(18px, 21px);
					color: #989898;
					font-weight: 500;
				}
			}
		}
	}
	
	&__title {
		margin-bottom: 24px;

		@include font(16px, 19px);
		color: #FFF;
		font-weight: 500;
	}
	
	&__time {
		margin-bottom: 47px;

		p:nth-child(2) {
			@include font(14px, 15.5px);
			color: #989898;
		}
	}
	
	&__links {
		@include flex(flex, column, 12px, flex-start, flex-start);

		a {
			@include font(14px, 17px);
			color: #989898;
			font-size: 14px;
		}
	}
	
	&__payment {

		&-items {
			@include flex(flex, row, 18px 12px, flex-start, flex-start);
			flex-wrap: wrap;
			max-width: 190px;
		}
	}

	&__logo {
		height: 96px;
	}

	&__copy {
		margin: 24px 0;
		@include font(14px, 22px);
		color: #989898;
	}
	
	&__socials {
		@include flex(flex, row, 10px, flex-start, flex-start);
		flex-wrap: wrap;

		a {
			width: 20px;
			height: 20px;
		}
	}
}

@media (hover: hover) {
	.footer {

		&__tels {

			&-items {

				a:hover {

					span:nth-child(2) {
						text-decoration: underline;
					}
				}
			}
		}

		&__links {

			a:hover {
				color: #34D186;
				text-decoration: underline;
			}
		}
	}
}

@media (max-width: 991.5px) {
	.footer {
		margin-top: 80px;

		&__container {
			padding: 50px 0 60px 0;
			grid-template-columns: minmax(189px, 1fr) 1fr 1fr 1fr;
			gap: 15px;
		}

		&__payment {
			grid-column: 2 / 4;
			grid-row: 2 / 3;
		}
	}
}

@media (max-width: 767.5px) {
	.footer {
		margin-top: 60px;

		&__container {
			padding: 40px 0 50px 0;
			grid-template-columns: minmax(165px, 1fr) 1fr 1fr;
			gap: 35px 15px;
		}

		&__tels {

			&-items {
				gap: 14px;

				a {
					align-items: center;

					span:nth-child(2) {
						@include font(16px, 19px);
					}
				}
			}
		}

		&__title {
			margin-bottom: 20px;
		}

		&__time {
			margin-bottom: 35px;
		}

		&__clients {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}

		&__payment {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}

		&__logo-copy-socials {
			grid-column: 3 / 4;
			grid-row: 1 / 2;
		}

		&__logo {
			height: 70px;
		}
	}
}

@media (max-width: 575.5px) {
	.footer {
		margin-top: 40px;

		&__container {
			grid-template-columns: 1fr;
			justify-items: center;
			gap: 40px;

			text-align: center;
		}

		&__tels {

			&-items {
				align-items: center;

				a {
					align-items: flex-start;

					span:nth-child(2) {
						@include font(18px, 21px);
					}
				}
			}
		}

		&__time {
			margin-bottom: 40px;
		}

		&__links {
			align-items: center;
		}

		&__payment {

			&-items {
				max-width: none;
				justify-content: center;
			}
		}

		&__logo {
			height: 96px;
		}

		&__socials {
			justify-content: center;
		}

		&__logo-copy-socials {
			padding-top: 20px;
		}

		&__clients,
		&__payment,
		&__logo-copy-socials {
			grid-column: auto;
			grid-row: auto;
		}
	}
}