// Reset CSS
@import "reset.scss";



// Mixins
@mixin font ($fs, $lh) {
	font-size: $fs;
	line-height: $lh;
}

@mixin flex ($f, $fd, $g, $ai, $jc) {
	display: $f;
	flex-direction: $fd;
	gap: $g;
	align-items: $ai;
	justify-content: $jc;
}

@mixin grid ($g, $gtc, $gap, $ai, $jc) {
	display: $g;
	grid-template-columns: $gtc;
	gap: $gap;
	align-items: $ai;
	justify-content: $jc;
}



* {
	font-family: 'Rubik', sans-serif;
}



h1, h2 {
	@include font(40px, 47px);
	color: #313131;
	font-weight: 500;
}

@media (max-width: 767.5px) {
	h1, h2 {
		@include font(32px, 39px);
	}
}

@media (max-width: 575.5px) {
	h1, h2 {
		@include font(25px, 32px);
	}
}



.content-container {
	width: 100%;
	max-width: calc(1280px + 30px); // 30px = padding left + padding right
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 575px) {
	.content-container {
		padding: 0 10px;
	}
}



.header {

	&__ad {
		background: #34D186;

		display: grid;
		grid-template-rows: 1fr;
		transition: grid-template-rows 0.2s ease-out;

		.content-container {
			overflow: hidden;
		}

		&-container {
			position: relative;

			padding: 15px 0;
			@include flex(flex, row, 0, center, space-between);
			
			background: url("../img/wheel.png") no-repeat;
			background-size: 367px 367px;
			background-position: right 12.21% top -51px;

			overflow: hidden;
		}

		&-text-btn {
			position: relative;
			z-index: 2;

			@include flex(inline-flex, row, 42px, center, flex-start);

			p {
				@include font(26px, 36px);
				font-weight: 500;
				color: #FFF;
			}

			a {
				display: inline-block;
				padding: 11px 23px 12px 22px;

				@include font(14px, 1);
				font-weight: 600;
				color: #FFF;

				border-radius: 8px;
				background: #313131;
			}
		}

		&-close {
			position: relative;
			z-index: 2;

			width: 24px;
			height: 24px;

			background: url("../img/close.svg") no-repeat;
			background-size: 100% 100%;

			cursor: pointer;
		}
	}

	&__top {
		background: #272727;
		
		&-container {
			@include flex(flex, row, 0, center, space-between);
			padding: 9px 0;
		}

		&-menu-tels-lang {
			width: calc(100% - (3.5% + 119px));
			@include flex(flex, row, 30px, center, space-between);
		}

		&-menu {

			ul {
				@include flex(inline-flex, row, 15px, center, flex-start);

				li {

					a {
						@include font(12px, 1);
						color: #FFF;
					}
				}
			}
		}

		&-tels {
			@include flex(inline-flex, row, 15px, center, flex-start);

			li {

				a {
					position: relative;

					display: inline-block;
					padding-left: 24px;

					@include font(12px, 1);
					color: #FFF;

					&:before {
						content: "";

						position: absolute;
						top: -1px;
						left: 0;

						display: inline-block;
						width: 16px;
						height: 16px;

						background: url("../img/tel.svg") no-repeat;
						background-size: 100% 100%;
					}
				}
			}
		}

		&-lang {
			@include flex(inline-flex, row, 0px, center, flex-start);

			span, a {
				display: inline-block;
				padding: 6px 11px 6px 10px;

				@include font(12px, 1);
				color: #FFF;
				font-weight: 500;

				border-radius: 6px;
			}

			span {
				background: #34D186;
			}
		}

		&-cart {

			a {
				position: relative;

				display: inline-block;
				padding-right: 32px;

				@include font(12px, 1);
				color: #FFF;
				font-weight: 500;

				&:after {
					content: "";

					position: absolute;
					top: -6px;
					right: 0;

					display: inline-block;
					width: 24px;
					height: 24px;

					background: url("../img/cart.svg") no-repeat;
					background-size: 100% 100%;
				}

				span {
					color: #989898;
					font-weight: 400;

					&:before {
						content: "(";
					}
					&:after {
						content: ")";
					}
				}
			}
		}
	}

	&__center {
		background: #313131;

		&-container {
			padding: 20px 0;
			@include grid(grid, auto 1fr auto, 44px, center, left);
		}

		&-logo {
			display: inline-block;

			img {
				height: 80px;
			}
		}

		&-search {
			position: relative;

			input {
				position: relative;
				z-index: 1;

				width: 100%;
				padding: 15px 53px 15px 17px;

				@include font(14px, 20px);
				color: #fff;

				border-radius: 10px;
				background: #464646;
			}

			button {
				position: absolute;
				z-index: 2;
				right: 15px;
				top: 15px;

				width: 20px;
				height: 20px;

				background: url("../img/search.svg") no-repeat;
				background-size: 100% 100%;
			}
		}

		&-account {
			@include grid(grid, auto 1fr, 8px 14px, center, left);

			img {
				grid-column: 1 / 2;
				grid-row: 1 / 3; 
				width: 36px;
				height: 36px;

				object-fit: cover;
			}

			span:nth-child(2) {
				@include font(14px, 18px);
				color: #FFF;
				font-weight: 500;
			}

			span:nth-child(3) {
				@include font(12px, 14px);
				color: #989898;

				span {
					text-decoration: underline;
				}
			}
		}
	}

	&__bottom {
		background: #FFF;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.14);

		
		&-container {
		}

		&-burger {
			display: none;
			padding: 15px 0;

			button {
				@include flex(flex, column, 0px, stretch, space-around);

				width: 35px;
				height: 35px;

				background: transparent;

				span {
					display: inline-block;
					height: 5px;
					width: 100%;

					background: #313131;
					border-radius: 5px;
				}
			}
		}

		&-menu {

			> ul:nth-child(1) {
				@include flex(flex, row, 0px, stretch, space-between);
			
				> li {
					position: relative;

					> span, > a {
						@include flex(flex, row, 0px, center, center);
						padding: 11px 10px 13px 10px;
						height: 100%;

						@include font(14px, 18px);
						color: #313131;
						text-align: center;
						font-weight: 500;

						cursor: pointer;
					}
				}
			}
		}

		&-menu-sub {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 10;

			visibility: hidden;
			width: 310px;
			padding: 0 20px 20px 20px;

			background: #fff;
			box-shadow: 0px 2px 5px rgba(0,0,0,.18);

			transition-delay: .25s;

			span {
				display: inline-block;
				margin: 20px 0 15px 0;

				@include font(14px, 18px);
				color: #313131;
				font-weight: 600;
			}

			ul {
				@include flex(flex, column, 10px, flex-start, flex-start);

				li {

					a {
						@include font(14px, 1);
						color: #313131;
					}
				}
			}

			&_right {
				left: auto;
				right: 0;
			}
		}
	}
		
}

@media (hover: hover) {
	.header {

		&__top {
			&-menu {

				ul {

					li {

						a:hover {
							color: #32BB78;
							text-decoration: underline;
						}
					}
				}
			}
		}

		&__bottom {

			&-menu-sub {
				ul {

					li {

						a:hover {
							opacity: 0.85;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 991.6px) {
	.header	{

		&__bottom {

			&-menu {

				> ul:nth-child(1) {
					
					> li:hover {

						> span {
							color: #FFF;

							background: #313131;
						}

						.header__bottom-menu-sub {
							visibility: visible;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1199.5px) {
	.header {
		
		&__ad {

			&-container {
				background-position: right 7% top -51px;
			}
		}

		&__top {

			&-tels {

				li:nth-child(3) {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 1099.5px) {
	.header {
		
		&__ad {

			&-container {
				background-size: 300px 300px;
				background-position: right 5% top -41px;	
			}

			&-text-btn {
				gap: 25px;
			}
		}
	}
}

@media (max-width: 1060px) {
	.header {

		&__top {

			&-tels {

				li:nth-child(2) {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 991.5px) {
	.header {
		
		&__ad {
			display: none;
		}

		&__top {

			&-container {
				position: relative;
				padding: 15px 0;
			}

			&-menu-tels-lang {
				width: auto;
				gap: 0;
			}

			&-menu {
				display: none;
			}

			&-lang {
				position: absolute;

				top: 11px;
				left: 50%;

				transform: translate(-50%, 0);
			}
		}

		&__center {

			&-container {
				padding: 15px 0;
				gap: 30px;
			}

			&-logo {

				img {
					height: 60px;
				}
			}
		}

		&__bottom {

			&-burger {
				display: block;
			}

			&-menu {
				display: grid;
  				grid-template-rows: 0fr;
				transition: all 0.5s ease-out;

				> ul:nth-child(1) {
					@include flex(flex, column, 10px, stretch, stretch);
					overflow: hidden;

					> li {
						display: grid;
  						grid-template-rows: 28px 0fr;

  						transition: grid-template-rows 0.5s ease-out;

						> span, > a {
							align-items: stretch;
							justify-content: stretch;
							padding: 5px 0;
							height: auto;

							text-align: left;
						}
					}
					> li.open {
						grid-template-rows: 28px 1fr;

						.header__bottom-menu-sub {
							visibility: visible;
							margin-top: 0;
							padding: 0 15px 15px 15px;
							border-top-color: #313131;
						}
					}
				}

				&_open {
					grid-template-rows: 1fr;
					padding-bottom: 15px;
				}
			}

			&-menu-sub {
				position: static;
				
				width: auto;
				padding: 0 15px;
				margin-top: -6px;

				box-shadow: none;
				border-top: 1px solid rgba(0, 0 ,0 ,0);

				transition: all 0.5s ease-out;

				overflow: hidden;

				span {
					margin: 15px 0 11px 0;
				}
			}
		}
	}
}

@media (max-width: 767.5px) {
	.header {

		&__center {

			&-container {
				padding: 15px 0;
				grid-template-columns: auto 1fr;
				gap: 15px 0;
			}

			&-logo {

				img {
					height: 50px;
				}
			}

			&-search {
				grid-column: 1 / 3;
				grid-row: 2 / 3;
			}

			&-account {
				justify-self: right;
			}
		}

		&__bottom {

			&-burger {
				padding: 10px 0;
			}
		}
	}
}

@media (max-width: 575.5px) {
	.header {

		&__top {

			&-tels {

				li {

					a {
						padding-left: 21px;
					}
				}
			}

			&-lang {
				top: 13px;

				span, a {
					padding: 4px 6px 4px 6px;
				}
			}

			&-cart {

				a {
					padding-right: 28px;
				}
			}
		}

		&__center {

			&-search {

				input {
					padding: 10px 40px 10px 11px;
				}

				button {
					right: 10px;
					top: 10px;
				}
			}
		}
	}
}



.main {}



.car-choice {
	position: relative;
	z-index: 5;

	&__container {
		padding: 70px 0;

		> h1 {

		}

		> p {
			margin: 16px 0 50px 0;

			@include font(18px, 21px);
			color: #313131;
		}
	}
	
	&__tabs1 {

		&-btns {
			@include flex(inline-flex, row, 11px, center, flex-start);

			button {
				$anim: all 0.15s ease;

				width: 256px;
				padding: 15px 20px;
				@include flex(inline-flex, row, 12px, center, center);
			
				border-radius: 10px;
				background: #F4F4F4;

				transition: $anim;

				svg {
					width: 20px;
					height: 20px;

					path {
						transition: $anim;
					}
				}

				span {
					@include font(16px, 19px);
					color: #313131;
					font-weight: 500;

					transition: $anim;
				}
			}

			button:nth-child(1) {
				svg {

					path {
						fill: #313131;
					}
				}
			}

			button:nth-child(2),
			button:nth-child(3) {
				svg {

					path {
						stroke: #313131;
					}
				}
			}

			button.active,
			button:hover {
				background: #34D186;

				span {
					color: #FFF;
				}
			}

			button:nth-child(1).active,
			button:nth-child(1):hover {
				svg {

					path {
						fill: #FFFFFF;
					}
				}
			}

			button:nth-child(2).active,
			button:nth-child(2):hover,
			button:nth-child(3).active,
			button:nth-child(3):hover {
				svg {

					path {
						stroke: #FFFFFF;
					}
				}
			}
		}

		&-content {
			display: none;
		}
		&-content.open {
			display: block;
		}
	}
		
	&__tabs2 {
		padding: 10px 0 0 0;

		&-btns {
			@include flex(inline-flex, row, 10px, center, flex-start);

			button {
				$anim: all 0.15s ease;

				position: relative;

				width: 190px;
				padding: 15px 44px 15px 20px;

				@include font(16px, 19px);
				color: #FFF;
				font-weight: 500;
				text-align: left;

				border-radius: 10px;
				background: #313131;

				&:after {
					content: "";

					position: absolute;
					top: 15px;
					right: 16px;

					display: inline-block;
					width: 20px;
					height: 20px;

					background: url("../img/arrow_white.svg") no-repeat;
					background-size: 100% 100%;
				}
			}

			button:disabled {
				color: #989898;

				background: #F4F4F4;

				cursor: not-allowed;

				&:after {
					background: url("../img/arrow_grey.svg") no-repeat;
					background-size: 100% 100%;
				}
			}
		}

		&-content {
			margin-top: 10px;
			
			filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.14));
			background: #F4F4F4;

			button {
				padding: 13px 20px 20px 21px;

				@include font(14px, 20px);
				color: #313131;
				text-align: left;

				border-right: 1px solid #DCDCDC;
				border-bottom: 1px solid #DCDCDC;

				background: #fff;
			}

			button:hover {
				color: #34D186;
				text-decoration: underline;

				background: #F4F4F4;
			}

			button:disabled {
				color: #DCDCDC;

				background: #F4F4F4;

				cursor: not-allowed;
			}

			&_table6 {
				@include grid(grid, repeat(auto-fill, minmax(190px, 1fr)), 0, stretch, stretch);
			}

			&_engine {

				div {
					@include grid(grid, repeat(auto-fill, minmax(90px, 1fr)), 0, stretch, stretch); 

					p {
						padding: 13px 20px 20px 21px;
						grid-column: 1 / 3; 

						@include font(14px, 20px);
						color: #313131;

						background: #fff;
						border-right: 1px solid #DCDCDC;
						border-bottom: 1px solid #DCDCDC;

						cursor: not-allowed;
					}
				}
			}

			&_mod {
				@include grid(grid, repeat(auto-fill, minmax(220px, 1fr)), 0, stretch, stretch);

				button {
					position: relative;

					p {
						@include font(14px, 20px);
						font-weight: 500;
					}

					span {
						display: block;
						
						@include font(12px, 20px);
					}

					div {
						position: absolute;
						top: 100%;
						left: 0;

						display: none;
						width: 100%;
						padding: 13px 20px 20px 21px;

						background: #F4F4F4;
					}
				}

				button:hover {
					text-decoration: none;
				}
			}
		}
	}
	
	&__v-n {
		padding: 20px 0 0 0;

		p {
			display: inline-block;
			margin-right: 30px;

			@include font(18px, 21px);
			color: #313131;
		}

		&-input {
			@include grid(inline-grid, 1fr auto, 0, stretch, stretch);
			width: 100%;
			max-width: 376px;

			input {
				width: 100%;
				padding: 15px 17px;

				@include font(16px, 20px);
				color: #313131;
				text-align: center;

				border-radius: 10px 0 0 10px;
				background: #F4F4F4;
			}

			button {
				padding: 15px;

				@include font(16px, 20px);
				color: #fff;

				border-radius: 0 10px 10px 0;
				background: #34D186;
			}
		}
	}
}

@media (hover: hover) {
	.car-choice {

		&__tabs2 {

			&-content {

				&_mod {

					button:hover {

						div {
							display: block;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1020px) {
	.car-choice {

		&__container {
			padding: 50px 0;

			> p {
				margin: 14px 0 40px 0;
			}
		}

		&__tabs1 {

			&-btns {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
			}
		}

		&__tabs2 {
			padding: 25px 0 0 0;

			&-btns {
				justify-content: center;
				flex-wrap: wrap;
			}

			&-content {

				&_engine {

					div {

						p {
							grid-row: 1 / 2;
							grid-column: 1 / -1; 
						}
					}	
				}
			}	
		}

		&__v-n {
			text-align: center;

			p {
				display: block;
				margin: 0 0 10px 0;
			}
		}
	}
}

@media (max-width: 767.5px) {
	.car-choice	{

		&__container {
			padding: 40px 0;

			> p {
				margin: 12px 0 30px 0;

				@include font(17px, 19px);
			}
		}

		&__v-n {

			p {
				@include font(17px, 19px);
			}
		}
	}
}

@media (max-width: 575.5px) {
	.car-choice	{

		&__container {
			padding: 30px 0;

			> p {
				margin: 10px 0 25px 0;

				@include font(16px, 18px);
			}
		}

		&__tabs1 {

			&-btns {

				button {
					width: auto;
				}
			}
		}

		&__tabs2 {

			&-btns {

				button {
					width: auto;
				}
			}

			&-content {

				&_table6 {
					grid-template-columns: 1fr 1fr;
				}

				&_mod {
					grid-template-columns: 1fr 1fr;
				}
			}
		}

		&__v-n {

			p {
				@include font(16px, 18px);
			}
		}
	}
}



.swiper-fullwidth {
	height: 496px;

	&__slide {
		position: relative;

		&-container {
			position: relative;
			z-index: 2;

			max-width: 1018px;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			@include flex(flex, column, 28px, flex-start, center);

			p {

				span {
					color: #34D186;
				}
			}
		}
	}

	&__image {
		position: absolute;
		z-index: 1;

		height: 100%;
		width: 100%;

		img {
			position: relative;
			z-index: 1;

			height: 100%;
			width: 100%;

			object-fit: cover;
		}

		&:after {
			content: "";

			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;

			display: block;
			height: 100%;
			width: 100%;

			background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
		}
	}

	&__title {
		max-width: 750px;

		@include font(60px, 71px);
		color: #FFF;
		font-weight: 500;
	}

	&__text {
		max-width: 750px;

		@include font(30px, 36px);
		color: #FFF;
	}

	&__nav {
		position: absolute;
		z-index: 2;
		top: calc(50% - 25px);

		width: 50px;
		height: 50px;
		padding: 15px;

		border-radius: 100px;
		background: rgba(0, 0, 0, 0.50);

		transition: all 0.2s ease;

		&_prev {
			left: calc((100% - 1280px) / 2);
		}

		&_next {
			right: calc((100% - 1280px) / 2);
		}
	}
	&__nav.swiper-button-disabled {
		background: rgba(0, 0, 0, 0.50) !important;

		cursor: auto;
	}		
}

@media (hover: hover) {

	.swiper-fullwidth {

		&__nav:hover {
			background: rgba(52, 209, 134, 0.70);
		}
	}
}