* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	font-style: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

* {
	font-family: "Rubik", sans-serif;
}

.content-container {
	width: 100%;
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

.header__ad {
	background: #34D186;
}
.header__ad-container {
	position: relative;
	padding: 15px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background: url("../img/wheel.png") no-repeat;
	background-size: 367px 367px;
	background-position: right 12.21% top -51px;
	overflow: hidden;
}
.header__ad-text-btn {
	position: relative;
	z-index: 2;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 42px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__ad-text-btn p {
	font-size: 26px;
	line-height: 36px;
	font-weight: 500;
	color: #FFF;
}
.header__ad-text-btn a {
	display: inline-block;
	padding: 11px 23px 12px 22px;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	color: #FFF;
	border-radius: 8px;
	background: #313131;
}
.header__ad-close {
	position: relative;
	z-index: 2;
	width: 24px;
	height: 24px;
	background: url("../img/close.svg") no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
.header__top {
	background: #272727;
	padding: 9px 0;
}
.header__top-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__top-menu-tels-lang {
	width: calc(100% - (3.5% + 119px));
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 30px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__top-menu ul {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 15px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__top-menu ul li a {
	font-size: 12px;
	line-height: 1;
	color: #FFF;
}
.header__top-tels {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 15px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__top-tels li a {
	position: relative;
	display: inline-block;
	padding-left: 24px;
	font-size: 12px;
	line-height: 1;
	color: #FFF;
}
.header__top-tels li a:before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/tel.svg") no-repeat;
	background-size: 100% 100%;
}
.header__top-lang {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__top-lang span, .header__top-lang a {
	display: inline-block;
	padding: 6px 11px 6px 10px;
	font-size: 12px;
	line-height: 1;
	color: #FFF;
	font-weight: 500;
	border-radius: 6px;
}
.header__top-lang span {
	background: #34D186;
}
.header__top-cart a {
	position: relative;
	display: inline-block;
	padding-right: 32px;
	font-size: 12px;
	line-height: 1;
	color: #FFF;
	font-weight: 500;
}
.header__top-cart a:after {
	content: "";
	position: absolute;
	top: -6px;
	right: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../img/cart.svg") no-repeat;
	background-size: 100% 100%;
}
.header__top-cart a span {
	color: #989898;
	font-weight: 400;
}
.header__top-cart a span:before {
	content: "(";
}
.header__top-cart a span:after {
	content: ")";
}

@media (hover: hover) {
	.header__top-menu ul li a:hover {
		color: #32BB78;
		text-decoration: underline;
	}
}
@media (max-width: 1199.5px) {
	.header__ad-container {
		background-position: right 7% top -51px;
	}
}
@media (max-width: 1099.5px) {
	.header__ad-container {
		background-size: 300px 300px;
		background-position: right 5% top -41px;
	}
	.header__ad-text-btn {
		gap: 25px;
	}
}
@media (max-width: 991.5px) {
	.header__ad {
		display: none;
	}
}