// Reset CSS
@import "reset.scss";



// Mixins
@mixin font ($fs, $lh) {
	font-size: $fs;
	line-height: $lh;
}

@mixin flex ($f, $fd, $g, $ai, $jc) {
	display: $f;
	flex-direction: $fd;
	gap: $g;
	align-items: $ai;
	justify-content: $jc;
}

@mixin grid ($g, $gtc, $gap, $ai, $jc) {
	display: $g;
	grid-template-columns: $gtc;
	gap: $gap;
	align-items: $ai;
	justify-content: $jc;
}



* {
	font-family: 'Rubik', sans-serif;
}



.content-container {
	width: 100%;
	max-width: calc(1280px + 30px); // 30px = padding left + padding right
	margin: 0 auto;
	padding: 0 15px;
}



.header {

	&__ad {
		background: #34D186;

		&-container {
			position: relative;

			padding: 15px 0;
			@include flex(flex, row, 0, center, space-between);
			
			background: url("../img/wheel.png") no-repeat;
			background-size: 367px 367px;
			background-position: right 12.21% top -51px;

			overflow: hidden;
		}

		&-text-btn {
			position: relative;
			z-index: 2;

			@include flex(inline-flex, row, 42px, center, flex-start);

			p {
				@include font(26px, 36px);
				font-weight: 500;
				color: #FFF;
			}

			a {
				display: inline-block;
				padding: 11px 23px 12px 22px;

				@include font(14px, 1);
				font-weight: 600;
				color: #FFF;

				border-radius: 8px;
				background: #313131;
			}
		}

		&-close {
			position: relative;
			z-index: 2;

			width: 24px;
			height: 24px;

			background: url("../img/close.svg") no-repeat;
			background-size: 100% 100%;

			cursor: pointer;
		}
	}

	&__top {
		background: #272727;
		padding: 9px 0;

		&-container {
			@include flex(flex, row, 0, center, space-between);
		}

		&-menu-tels-lang {
			width: calc(100% - (3.5% + 119px));
			@include flex(flex, row, 30px, center, space-between);
		}

		&-menu {

			ul {
				@include flex(inline-flex, row, 15px, center, flex-start);

				li {

					a {
						@include font(12px, 1);
						color: #FFF;
					}
				}
			}
		}

		&-tels {
			@include flex(inline-flex, row, 15px, center, flex-start);

			li {

				a {
					position: relative;

					display: inline-block;
					padding-left: 24px;

					@include font(12px, 1);
					color: #FFF;

					&:before {
						content: "";

						position: absolute;
						top: -1px;
						left: 0;

						display: inline-block;
						width: 16px;
						height: 16px;

						background: url("../img/tel.svg") no-repeat;
						background-size: 100% 100%;
					}
				}
			}
		}

		&-lang {
			@include flex(inline-flex, row, 0px, center, flex-start);

			span, a {
				display: inline-block;
				padding: 6px 11px 6px 10px;

				@include font(12px, 1);
				color: #FFF;
				font-weight: 500;

				border-radius: 6px;
			}

			span {
				background: #34D186;
			}
		}

		&-cart {

			a {
				position: relative;

				display: inline-block;
				padding-right: 32px;

				@include font(12px, 1);
				color: #FFF;
				font-weight: 500;

				&:after {
					content: "";

					position: absolute;
					top: -6px;
					right: 0;

					display: inline-block;
					width: 24px;
					height: 24px;

					background: url("../img/cart.svg") no-repeat;
					background-size: 100% 100%;
				}

				span {
					color: #989898;
					font-weight: 400;

					&:before {
						content: "(";
					}
					&:after {
						content: ")";
					}
				}
			}
		}
	}

	&__center {
		background: #313131;

		&-container {
			padding: 20px 0;
			@include grid(grid, auto 1fr auto, 44px, center, left);
		}

		&-logo {
			display: inline-block;

			img {
				height: 80px;
			}
		}

		&-search {
			position: relative;

			input {
				position: relative;
				z-index: 1;

				width: 100%;
				padding: 15px 53px 15px 17px;

				@include font(14px, 20px);
				color: #fff;

				border-radius: 10px;
				background: #464646;
			}

			button {
				position: absolute;
				z-index: 2;
				right: 15px;
				top: 15px;

				width: 20px;
				height: 20px;

				background: url("../img/search.svg") no-repeat;
				background-size: 100% 100%;
			}
		}

		&-account {
			@include grid(grid, auto 1fr, 8px 14px, center, left);

			img {
				grid-column: 1 / 2;
				grid-row: 1 / 3; 
				width: 36px;
				height: 36px;

				object-fit: cover;
			}

			span:nth-child(2) {
				@include font(14px, 18px);
				color: #FFF;
				font-weight: 500;
			}

			span:nth-child(3) {
				@include font(12px, 14px);
				color: #989898;

				span {
					text-decoration: underline;
				}
			}
		}
	}
}

@media (hover: hover) {
	.header {

		&__top {
			&-menu {

				ul {

					li {

						a:hover {
							color: #32BB78;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1199.5px) {
	.header {
		
		&__ad {

			&-container {
				background-position: right 7% top -51px;
			}
		}
	}
}

@media (max-width: 1099.5px) {
	.header {
		
		&__ad {

			&-container {
				background-size: 300px 300px;
				background-position: right 5% top -41px;	
			}

			&-text-btn {
				gap: 25px;
			}
		}
	}
}

@media (max-width: 991.5px) {
	.header {
		
		&__ad {
			display: none;
		}
	}
}