* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	font-style: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

* {
	font-family: "Rubik", sans-serif;
}

.content-container {
	width: 100%;
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 575px) {
	.content-container {
		padding: 0 10px;
	}
}
.header__ad {
	background: #34D186;
}
.header__ad-container {
	position: relative;
	padding: 15px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background: url("../img/wheel.png") no-repeat;
	background-size: 367px 367px;
	background-position: right 12.21% top -51px;
	overflow: hidden;
}
.header__ad-text-btn {
	position: relative;
	z-index: 2;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 42px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__ad-text-btn p {
	font-size: 26px;
	line-height: 36px;
	font-weight: 500;
	color: #FFF;
}
.header__ad-text-btn a {
	display: inline-block;
	padding: 11px 23px 12px 22px;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	color: #FFF;
	border-radius: 8px;
	background: #313131;
}
.header__ad-close {
	position: relative;
	z-index: 2;
	width: 24px;
	height: 24px;
	background: url("../img/close.svg") no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
.header__top {
	background: #272727;
}
.header__top-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 9px 0;
}
.header__top-menu-tels-lang {
	width: calc(100% - (3.5% + 119px));
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 30px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__top-menu ul {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 15px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__top-menu ul li a {
	font-size: 12px;
	line-height: 1;
	color: #FFF;
}
.header__top-tels {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 15px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__top-tels li a {
	position: relative;
	display: inline-block;
	padding-left: 24px;
	font-size: 12px;
	line-height: 1;
	color: #FFF;
}
.header__top-tels li a:before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/tel.svg") no-repeat;
	background-size: 100% 100%;
}
.header__top-lang {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__top-lang span, .header__top-lang a {
	display: inline-block;
	padding: 6px 11px 6px 10px;
	font-size: 12px;
	line-height: 1;
	color: #FFF;
	font-weight: 500;
	border-radius: 6px;
}
.header__top-lang span {
	background: #34D186;
}
.header__top-cart a {
	position: relative;
	display: inline-block;
	padding-right: 32px;
	font-size: 12px;
	line-height: 1;
	color: #FFF;
	font-weight: 500;
}
.header__top-cart a:after {
	content: "";
	position: absolute;
	top: -6px;
	right: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../img/cart.svg") no-repeat;
	background-size: 100% 100%;
}
.header__top-cart a span {
	color: #989898;
	font-weight: 400;
}
.header__top-cart a span:before {
	content: "(";
}
.header__top-cart a span:after {
	content: ")";
}
.header__center {
	background: #313131;
}
.header__center-container {
	padding: 20px 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 44px 1fr 44px auto;
	grid-template-columns: auto 1fr auto;
	gap: 44px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
}
.header__center-logo {
	display: inline-block;
}
.header__center-logo img {
	height: 80px;
}
.header__center-search {
	position: relative;
}
.header__center-search input {
	position: relative;
	z-index: 1;
	width: 100%;
	padding: 15px 53px 15px 17px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	border-radius: 10px;
	background: #464646;
}
.header__center-search button {
	position: absolute;
	z-index: 2;
	right: 15px;
	top: 15px;
	width: 20px;
	height: 20px;
	background: url("../img/search.svg") no-repeat;
	background-size: 100% 100%;
}
.header__center-account {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 14px 1fr;
	grid-template-columns: auto 1fr;
	gap: 8px 14px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
}
.header__center-account img {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	grid-row: 1/3;
	width: 36px;
	height: 36px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.header__center-account span:nth-child(2) {
	font-size: 14px;
	line-height: 18px;
	color: #FFF;
	font-weight: 500;
}
.header__center-account span:nth-child(3) {
	font-size: 12px;
	line-height: 14px;
	color: #989898;
}
.header__center-account span:nth-child(3) span {
	text-decoration: underline;
}
.header__bottom {
	background: #FFF;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.14);
	        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.14);
}
.header__bottom-burger {
	display: none;
	padding: 15px 0;
}
.header__bottom-burger button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 0px;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 35px;
	height: 35px;
	background: transparent;
}
.header__bottom-burger button span {
	display: inline-block;
	height: 5px;
	width: 100%;
	background: #313131;
	border-radius: 5px;
}
.header__bottom-menu > ul:nth-child(1) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0px;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__bottom-menu > ul:nth-child(1) > li {
	position: relative;
}
.header__bottom-menu > ul:nth-child(1) > li > span, .header__bottom-menu > ul:nth-child(1) > li > a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 11px 10px 13px 10px;
	height: 100%;
	font-size: 14px;
	line-height: 18px;
	color: #313131;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
}
.header__bottom-menu-sub {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	visibility: hidden;
	width: 310px;
	padding: 0 20px 20px 20px;
	background: #fff;
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.18);
	        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.18);
	-webkit-transition-delay: 0.25s;
	        transition-delay: 0.25s;
}
.header__bottom-menu-sub span {
	display: inline-block;
	margin: 20px 0 15px 0;
	font-size: 14px;
	line-height: 18px;
	color: #313131;
	font-weight: 600;
}
.header__bottom-menu-sub ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 10px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__bottom-menu-sub ul li a {
	font-size: 14px;
	line-height: 1;
	color: #313131;
}
.header__bottom-menu-sub_right {
	left: auto;
	right: 0;
}

@media (hover: hover) {
	.header__top-menu ul li a:hover {
		color: #32BB78;
		text-decoration: underline;
	}
	.header__bottom-menu-sub ul li a:hover {
		opacity: 0.85;
	}
}
@media (min-width: 991.6px) {
	.header__bottom-menu > ul:nth-child(1) > li:hover > span {
		color: #FFF;
		background: #313131;
	}
	.header__bottom-menu > ul:nth-child(1) > li:hover .header__bottom-menu-sub {
		visibility: visible;
	}
}
@media (max-width: 1199.5px) {
	.header__ad-container {
		background-position: right 7% top -51px;
	}
	.header__top-tels li:nth-child(3) {
		display: none;
	}
}
@media (max-width: 1099.5px) {
	.header__ad-container {
		background-size: 300px 300px;
		background-position: right 5% top -41px;
	}
	.header__ad-text-btn {
		gap: 25px;
	}
}
@media (max-width: 1060px) {
	.header__top-tels li:nth-child(2) {
		display: none;
	}
}
@media (max-width: 991.5px) {
	.header__ad {
		display: none;
	}
	.header__top-container {
		position: relative;
		padding: 15px 0;
	}
	.header__top-menu-tels-lang {
		width: auto;
		gap: 0;
	}
	.header__top-menu {
		display: none;
	}
	.header__top-lang {
		position: absolute;
		top: 11px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
	}
	.header__center-container {
		padding: 15px 0;
		gap: 30px;
	}
	.header__center-logo img {
		height: 60px;
	}
	.header__bottom-burger {
		display: block;
	}
	.header__bottom-menu {
		display: -ms-grid;
		display: grid;
		-ms-grid-rows: 0fr;
		grid-template-rows: 0fr;
		-webkit-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}
	.header__bottom-menu > ul:nth-child(1) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 10px;
		-webkit-box-align: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
		-webkit-box-pack: stretch;
		    -ms-flex-pack: stretch;
		        justify-content: stretch;
		overflow: hidden;
	}
	.header__bottom-menu > ul:nth-child(1) > li {
		display: -ms-grid;
		display: grid;
		-ms-grid-rows: 28px 0fr;
		grid-template-rows: 28px 0fr;
		-webkit-transition: grid-template-rows 0.5s ease-out;
		transition: grid-template-rows 0.5s ease-out;
		transition: grid-template-rows 0.5s ease-out, -ms-grid-rows 0.5s ease-out;
	}
	.header__bottom-menu > ul:nth-child(1) > li > span, .header__bottom-menu > ul:nth-child(1) > li > a {
		-webkit-box-align: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
		-webkit-box-pack: stretch;
		    -ms-flex-pack: stretch;
		        justify-content: stretch;
		padding: 5px 0;
		height: auto;
		text-align: left;
	}
	.header__bottom-menu > ul:nth-child(1) > li.open {
		-ms-grid-rows: 28px 1fr;
		grid-template-rows: 28px 1fr;
	}
	.header__bottom-menu > ul:nth-child(1) > li.open .header__bottom-menu-sub {
		visibility: visible;
		margin-top: 0;
		padding: 0 15px 15px 15px;
		border-top-color: #313131;
	}
	.header__bottom-menu_open {
		-ms-grid-rows: 1fr;
		grid-template-rows: 1fr;
		padding-bottom: 15px;
	}
	.header__bottom-menu-sub {
		position: static;
		width: auto;
		padding: 0 15px;
		margin-top: -6px;
		-webkit-box-shadow: none;
		        box-shadow: none;
		border-top: 1px solid rgba(0, 0, 0, 0);
		-webkit-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		overflow: hidden;
	}
	.header__bottom-menu-sub span {
		margin: 15px 0 11px 0;
	}
}
@media (max-width: 767.5px) {
	.header__center-container {
		padding: 15px 0;
		-ms-grid-columns: auto 0 1fr;
		grid-template-columns: auto 1fr;
		gap: 15px 0;
	}
	.header__center-logo img {
		height: 50px;
	}
	.header__center-search {
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1/3;
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		grid-row: 2/3;
	}
	.header__center-account {
		-ms-grid-column-align: right;
		    justify-self: right;
	}
	.header__bottom-burger {
		padding: 10px 0;
	}
}
@media (max-width: 575.5px) {
	.header__top-tels li a {
		padding-left: 21px;
	}
	.header__top-lang {
		top: 13px;
	}
	.header__top-lang span, .header__top-lang a {
		padding: 4px 6px 4px 6px;
	}
	.header__top-cart a {
		padding-right: 28px;
	}
	.header__center-search input {
		padding: 10px 40px 10px 11px;
	}
	.header__center-search button {
		right: 10px;
		top: 10px;
	}
}