* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	font-style: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

* {
	font-family: "Rubik", sans-serif;
}

h1, h2 {
	font-size: 40px;
	line-height: 47px;
	color: #313131;
	font-weight: 500;
}

@media (max-width: 767.5px) {
	h1, h2 {
		font-size: 32px;
		line-height: 39px;
	}
}
@media (max-width: 575.5px) {
	h1, h2 {
		font-size: 25px;
		line-height: 32px;
	}
}
.content-container {
	width: 100%;
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 575px) {
	.content-container {
		padding: 0 10px;
	}
}
.header__ad {
	background: #34D186;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 1fr;
	grid-template-rows: 1fr;
	-webkit-transition: grid-template-rows 0.2s ease-out;
	transition: grid-template-rows 0.2s ease-out;
	transition: grid-template-rows 0.2s ease-out, -ms-grid-rows 0.2s ease-out;
}
.header__ad .content-container {
	overflow: hidden;
}
.header__ad-container {
	position: relative;
	padding: 15px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background: url("../img/wheel.png") no-repeat;
	background-size: 367px 367px;
	background-position: right 12.21% top -51px;
	overflow: hidden;
}
.header__ad-text-btn {
	position: relative;
	z-index: 2;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 42px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__ad-text-btn p {
	font-size: 26px;
	line-height: 36px;
	font-weight: 500;
	color: #FFF;
}
.header__ad-text-btn a {
	display: inline-block;
	padding: 11px 23px 12px 22px;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	color: #FFF;
	border-radius: 8px;
	background: #313131;
}
.header__ad-close {
	position: relative;
	z-index: 2;
	width: 24px;
	height: 24px;
	background: url("../img/close.svg") no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
.header__top {
	background: #272727;
}
.header__top-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 9px 0;
}
.header__top-menu-tels-lang {
	width: calc(100% - (3.5% + 119px));
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 30px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__top-menu ul {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 15px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__top-menu ul li a {
	font-size: 12px;
	line-height: 1;
	color: #FFF;
}
.header__top-tels {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 15px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__top-tels li a {
	position: relative;
	display: inline-block;
	padding-left: 24px;
	font-size: 12px;
	line-height: 1;
	color: #FFF;
}
.header__top-tels li a:before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/tel.svg") no-repeat;
	background-size: 100% 100%;
}
.header__top-lang {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__top-lang span, .header__top-lang a {
	display: inline-block;
	padding: 6px 11px 6px 10px;
	font-size: 12px;
	line-height: 1;
	color: #FFF;
	font-weight: 500;
	border-radius: 6px;
}
.header__top-lang span {
	background: #34D186;
}
.header__top-cart a {
	position: relative;
	display: inline-block;
	padding-right: 32px;
	font-size: 12px;
	line-height: 1;
	color: #FFF;
	font-weight: 500;
}
.header__top-cart a:after {
	content: "";
	position: absolute;
	top: -6px;
	right: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../img/cart.svg") no-repeat;
	background-size: 100% 100%;
}
.header__top-cart a span {
	color: #989898;
	font-weight: 400;
}
.header__top-cart a span:before {
	content: "(";
}
.header__top-cart a span:after {
	content: ")";
}
.header__center {
	background: #313131;
}
.header__center-container {
	padding: 20px 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 44px 1fr 44px auto;
	grid-template-columns: auto 1fr auto;
	gap: 44px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
}
.header__center-logo {
	display: inline-block;
}
.header__center-logo img {
	height: 80px;
}
.header__center-search {
	position: relative;
}
.header__center-search input {
	position: relative;
	z-index: 1;
	width: 100%;
	padding: 15px 53px 15px 17px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	border-radius: 10px;
	background: #464646;
}
.header__center-search button {
	position: absolute;
	z-index: 2;
	right: 15px;
	top: 15px;
	width: 20px;
	height: 20px;
	background: url("../img/search.svg") no-repeat;
	background-size: 100% 100%;
}
.header__center-account {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 14px 1fr;
	grid-template-columns: auto 1fr;
	gap: 8px 14px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
}
.header__center-account img {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	grid-row: 1/3;
	width: 36px;
	height: 36px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.header__center-account span:nth-child(2) {
	font-size: 14px;
	line-height: 18px;
	color: #FFF;
	font-weight: 500;
}
.header__center-account span:nth-child(3) {
	font-size: 12px;
	line-height: 14px;
	color: #989898;
}
.header__center-account span:nth-child(3) span {
	text-decoration: underline;
}
.header__bottom {
	background: #FFF;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.14);
	        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.14);
}
.header__bottom-burger {
	display: none;
	padding: 15px 0;
}
.header__bottom-burger button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 0px;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 35px;
	height: 35px;
	background: transparent;
}
.header__bottom-burger button span {
	display: inline-block;
	height: 5px;
	width: 100%;
	background: #313131;
	border-radius: 5px;
}
.header__bottom-menu > ul:nth-child(1) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0px;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__bottom-menu > ul:nth-child(1) > li {
	position: relative;
}
.header__bottom-menu > ul:nth-child(1) > li > span, .header__bottom-menu > ul:nth-child(1) > li > a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 11px 10px 13px 10px;
	height: 100%;
	font-size: 14px;
	line-height: 18px;
	color: #313131;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
}
.header__bottom-menu-sub {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	visibility: hidden;
	width: 310px;
	padding: 0 20px 20px 20px;
	background: #fff;
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.18);
	        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.18);
	-webkit-transition-delay: 0.25s;
	        transition-delay: 0.25s;
}
.header__bottom-menu-sub span {
	display: inline-block;
	margin: 20px 0 15px 0;
	font-size: 14px;
	line-height: 18px;
	color: #313131;
	font-weight: 600;
}
.header__bottom-menu-sub ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 10px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__bottom-menu-sub ul li a {
	font-size: 14px;
	line-height: 1;
	color: #313131;
}
.header__bottom-menu-sub_right {
	left: auto;
	right: 0;
}

@media (hover: hover) {
	.header__top-menu ul li a:hover {
		color: #32BB78;
		text-decoration: underline;
	}
	.header__bottom-menu-sub ul li a:hover {
		opacity: 0.85;
	}
}
@media (min-width: 991.6px) {
	.header__bottom-menu > ul:nth-child(1) > li:hover > span {
		color: #FFF;
		background: #313131;
	}
	.header__bottom-menu > ul:nth-child(1) > li:hover .header__bottom-menu-sub {
		visibility: visible;
	}
}
@media (max-width: 1199.5px) {
	.header__ad-container {
		background-position: right 7% top -51px;
	}
	.header__top-tels li:nth-child(3) {
		display: none;
	}
}
@media (max-width: 1099.5px) {
	.header__ad-container {
		background-size: 300px 300px;
		background-position: right 5% top -41px;
	}
	.header__ad-text-btn {
		gap: 25px;
	}
}
@media (max-width: 1060px) {
	.header__top-tels li:nth-child(2) {
		display: none;
	}
}
@media (max-width: 991.5px) {
	.header__ad {
		display: none;
	}
	.header__top-container {
		position: relative;
		padding: 15px 0;
	}
	.header__top-menu-tels-lang {
		width: auto;
		gap: 0;
	}
	.header__top-menu {
		display: none;
	}
	.header__top-lang {
		position: absolute;
		top: 11px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
	}
	.header__center-container {
		padding: 15px 0;
		gap: 30px;
	}
	.header__center-logo img {
		height: 60px;
	}
	.header__bottom-burger {
		display: block;
	}
	.header__bottom-menu {
		display: -ms-grid;
		display: grid;
		-ms-grid-rows: 0fr;
		grid-template-rows: 0fr;
		-webkit-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}
	.header__bottom-menu > ul:nth-child(1) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 10px;
		-webkit-box-align: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
		-webkit-box-pack: stretch;
		    -ms-flex-pack: stretch;
		        justify-content: stretch;
		overflow: hidden;
	}
	.header__bottom-menu > ul:nth-child(1) > li {
		display: -ms-grid;
		display: grid;
		-ms-grid-rows: 28px 0fr;
		grid-template-rows: 28px 0fr;
		-webkit-transition: grid-template-rows 0.5s ease-out;
		transition: grid-template-rows 0.5s ease-out;
		transition: grid-template-rows 0.5s ease-out, -ms-grid-rows 0.5s ease-out;
	}
	.header__bottom-menu > ul:nth-child(1) > li > span, .header__bottom-menu > ul:nth-child(1) > li > a {
		-webkit-box-align: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
		-webkit-box-pack: stretch;
		    -ms-flex-pack: stretch;
		        justify-content: stretch;
		padding: 5px 0;
		height: auto;
		text-align: left;
	}
	.header__bottom-menu > ul:nth-child(1) > li.open {
		-ms-grid-rows: 28px 1fr;
		grid-template-rows: 28px 1fr;
	}
	.header__bottom-menu > ul:nth-child(1) > li.open .header__bottom-menu-sub {
		visibility: visible;
		margin-top: 0;
		padding: 0 15px 15px 15px;
		border-top-color: #313131;
	}
	.header__bottom-menu_open {
		-ms-grid-rows: 1fr;
		grid-template-rows: 1fr;
		padding-bottom: 15px;
	}
	.header__bottom-menu-sub {
		position: static;
		width: auto;
		padding: 0 15px;
		margin-top: -6px;
		-webkit-box-shadow: none;
		        box-shadow: none;
		border-top: 1px solid rgba(0, 0, 0, 0);
		-webkit-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		overflow: hidden;
	}
	.header__bottom-menu-sub span {
		margin: 15px 0 11px 0;
	}
}
@media (max-width: 767.5px) {
	.header__center-container {
		padding: 15px 0;
		-ms-grid-columns: auto 0 1fr;
		grid-template-columns: auto 1fr;
		gap: 15px 0;
	}
	.header__center-logo img {
		height: 50px;
	}
	.header__center-search {
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1/3;
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		grid-row: 2/3;
	}
	.header__center-account {
		-ms-grid-column-align: right;
		    justify-self: right;
	}
	.header__bottom-burger {
		padding: 10px 0;
	}
}
@media (max-width: 575.5px) {
	.header__top-tels li a {
		padding-left: 21px;
	}
	.header__top-lang {
		top: 13px;
	}
	.header__top-lang span, .header__top-lang a {
		padding: 4px 6px 4px 6px;
	}
	.header__top-cart a {
		padding-right: 28px;
	}
	.header__center-search input {
		padding: 10px 40px 10px 11px;
	}
	.header__center-search button {
		right: 10px;
		top: 10px;
	}
}
.car-choice {
	position: relative;
	z-index: 5;
}
.car-choice__container {
	padding: 70px 0;
}
.car-choice__container > p {
	margin: 16px 0 50px 0;
	font-size: 18px;
	line-height: 21px;
	color: #313131;
}
.car-choice__tabs1-btns {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 11px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.car-choice__tabs1-btns button {
	width: 256px;
	padding: 15px 20px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 12px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: 10px;
	background: #F4F4F4;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.car-choice__tabs1-btns button svg {
	width: 20px;
	height: 20px;
}
.car-choice__tabs1-btns button svg path {
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.car-choice__tabs1-btns button span {
	font-size: 16px;
	line-height: 19px;
	color: #313131;
	font-weight: 500;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.car-choice__tabs1-btns button:nth-child(1) svg path {
	fill: #313131;
}
.car-choice__tabs1-btns button:nth-child(2) svg path,
.car-choice__tabs1-btns button:nth-child(3) svg path {
	stroke: #313131;
}
.car-choice__tabs1-btns button.active,
.car-choice__tabs1-btns button:hover {
	background: #34D186;
}
.car-choice__tabs1-btns button.active span,
.car-choice__tabs1-btns button:hover span {
	color: #FFF;
}
.car-choice__tabs1-btns button:nth-child(1).active svg path,
.car-choice__tabs1-btns button:nth-child(1):hover svg path {
	fill: #FFFFFF;
}
.car-choice__tabs1-btns button:nth-child(2).active svg path,
.car-choice__tabs1-btns button:nth-child(2):hover svg path,
.car-choice__tabs1-btns button:nth-child(3).active svg path,
.car-choice__tabs1-btns button:nth-child(3):hover svg path {
	stroke: #FFFFFF;
}
.car-choice__tabs1-content {
	display: none;
}
.car-choice__tabs1-content.open {
	display: block;
}
.car-choice__tabs2 {
	padding: 10px 0 0 0;
}
.car-choice__tabs2-btns {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 10px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.car-choice__tabs2-btns button {
	position: relative;
	width: 190px;
	padding: 15px 44px 15px 20px;
	font-size: 16px;
	line-height: 19px;
	color: #FFF;
	font-weight: 500;
	text-align: left;
	border-radius: 10px;
	background: #313131;
}
.car-choice__tabs2-btns button:after {
	content: "";
	position: absolute;
	top: 15px;
	right: 16px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img/arrow_white.svg") no-repeat;
	background-size: 100% 100%;
}
.car-choice__tabs2-btns button:disabled {
	color: #989898;
	background: #F4F4F4;
	cursor: not-allowed;
}
.car-choice__tabs2-btns button:disabled:after {
	background: url("../img/arrow_grey.svg") no-repeat;
	background-size: 100% 100%;
}
.car-choice__tabs2-content {
	margin-top: 10px;
	-webkit-filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.14));
	        filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.14));
	background: #F4F4F4;
}
.car-choice__tabs2-content button {
	padding: 13px 20px 20px 21px;
	font-size: 14px;
	line-height: 20px;
	color: #313131;
	text-align: left;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	background: #fff;
}
.car-choice__tabs2-content button:hover {
	color: #34D186;
	text-decoration: underline;
	background: #F4F4F4;
}
.car-choice__tabs2-content button:disabled {
	color: #DCDCDC;
	background: #F4F4F4;
	cursor: not-allowed;
}
.car-choice__tabs2-content_table6 {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
	gap: 0;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: stretch;
	    -ms-flex-pack: stretch;
	        justify-content: stretch;
}
.car-choice__tabs2-content_engine div {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
	gap: 0;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: stretch;
	    -ms-flex-pack: stretch;
	        justify-content: stretch;
}
.car-choice__tabs2-content_engine div p {
	padding: 13px 20px 20px 21px;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1/3;
	font-size: 14px;
	line-height: 20px;
	color: #313131;
	background: #fff;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	cursor: not-allowed;
}
.car-choice__tabs2-content_mod {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 0;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: stretch;
	    -ms-flex-pack: stretch;
	        justify-content: stretch;
}
.car-choice__tabs2-content_mod button {
	position: relative;
}
.car-choice__tabs2-content_mod button p {
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
}
.car-choice__tabs2-content_mod button span {
	display: block;
	font-size: 12px;
	line-height: 20px;
}
.car-choice__tabs2-content_mod button div {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	width: 100%;
	padding: 13px 20px 20px 21px;
	background: #F4F4F4;
}
.car-choice__tabs2-content_mod button:hover {
	text-decoration: none;
}
.car-choice__v-n {
	padding: 20px 0 0 0;
}
.car-choice__v-n p {
	display: inline-block;
	margin-right: 30px;
	font-size: 18px;
	line-height: 21px;
	color: #313131;
}
.car-choice__v-n-input {
	display: -ms-inline-grid;
	display: inline-grid;
	-ms-grid-columns: 1fr 0 auto;
	grid-template-columns: 1fr auto;
	gap: 0;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: stretch;
	    -ms-flex-pack: stretch;
	        justify-content: stretch;
	width: 100%;
	max-width: 376px;
}
.car-choice__v-n-input input {
	width: 100%;
	padding: 15px 17px;
	font-size: 16px;
	line-height: 20px;
	color: #313131;
	text-align: center;
	border-radius: 10px 0 0 10px;
	background: #F4F4F4;
}
.car-choice__v-n-input button {
	padding: 15px;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	border-radius: 0 10px 10px 0;
	background: #34D186;
}

@media (hover: hover) {
	.car-choice__tabs2-content_mod button:hover div {
		display: block;
	}
}
@media (max-width: 1020px) {
	.car-choice__container {
		padding: 50px 0;
	}
	.car-choice__container > p {
		margin: 14px 0 40px 0;
	}
	.car-choice__tabs1-btns {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.car-choice__tabs2 {
		padding: 25px 0 0 0;
	}
	.car-choice__tabs2-btns {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.car-choice__tabs2-content_engine div p {
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		grid-row: 1/2;
		grid-column: 1/-1;
	}
	.car-choice__v-n {
		text-align: center;
	}
	.car-choice__v-n p {
		display: block;
		margin: 0 0 10px 0;
	}
}
@media (max-width: 767.5px) {
	.car-choice__container {
		padding: 40px 0;
	}
	.car-choice__container > p {
		margin: 12px 0 30px 0;
		font-size: 17px;
		line-height: 19px;
	}
	.car-choice__v-n p {
		font-size: 17px;
		line-height: 19px;
	}
}
@media (max-width: 575.5px) {
	.car-choice__container {
		padding: 30px 0;
	}
	.car-choice__container > p {
		margin: 10px 0 25px 0;
		font-size: 16px;
		line-height: 18px;
	}
	.car-choice__tabs1-btns button {
		width: auto;
	}
	.car-choice__tabs2-btns button {
		width: auto;
	}
	.car-choice__tabs2-content_table6 {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.car-choice__tabs2-content_mod {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.car-choice__v-n p {
		font-size: 16px;
		line-height: 18px;
	}
}
.swiper-fullwidth {
	height: 496px;
}
.swiper-fullwidth__slide {
	position: relative;
}
.swiper-fullwidth__slide-container {
	position: relative;
	z-index: 2;
	max-width: 1178px;
	padding: 0 80px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 28px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.swiper-fullwidth__slide-container p span {
	color: #34D186;
}
.swiper-fullwidth__image {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
}
.swiper-fullwidth__image img {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.swiper-fullwidth__image:after {
	content: "";
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.swiper-fullwidth__title {
	max-width: 750px;
	font-size: 60px;
	line-height: 71px;
	color: #FFF;
	font-weight: 500;
}
.swiper-fullwidth__text {
	max-width: 750px;
	font-size: 30px;
	line-height: 36px;
	color: #FFF;
}
.swiper-fullwidth__nav {
	position: absolute;
	z-index: 2;
	top: calc(50% - 25px);
	width: 50px;
	height: 50px;
	padding: 15px;
	border-radius: 100px;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: background 0.2s ease;
	transition: background 0.2s ease;
}
.swiper-fullwidth__nav_prev {
	left: calc((100% - 1280px) / 2);
}
.swiper-fullwidth__nav_next {
	right: calc((100% - 1280px) / 2);
}
.swiper-fullwidth__nav.swiper-button-disabled {
	background: rgba(0, 0, 0, 0.5) !important;
	cursor: auto;
}

@media (hover: hover) {
	.swiper-fullwidth__nav:hover {
		background: rgba(52, 209, 134, 0.7);
	}
}
@media (max-width: 1310px) {
	.swiper-fullwidth__nav_prev {
		left: 15px;
	}
	.swiper-fullwidth__nav_next {
		right: 15px;
	}
}
@media (max-width: 991px) {
	.swiper-fullwidth {
		height: 400px;
	}
	.swiper-fullwidth__slide-container {
		gap: 22px;
	}
	.swiper-fullwidth__title {
		max-width: 650px;
		font-size: 50px;
		line-height: 60px;
	}
	.swiper-fullwidth__text {
		max-width: 650px;
		font-size: 26px;
		line-height: 31px;
	}
}
@media (max-width: 767.5px) {
	.swiper-fullwidth {
		height: 300px;
	}
	.swiper-fullwidth__slide-container {
		gap: 16px;
	}
	.swiper-fullwidth__title {
		max-width: 470px;
		font-size: 36px;
		line-height: 43px;
	}
	.swiper-fullwidth__text {
		max-width: 470px;
		font-size: 20px;
		line-height: 24px;
	}
}
@media (max-width: 575px) {
	.swiper-fullwidth__slide-container {
		gap: 12px;
		margin: 0;
		padding: 10px 30px 60px 30px;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.swiper-fullwidth__title {
		max-width: 370px;
		font-size: 29px;
		line-height: 37px;
	}
	.swiper-fullwidth__text {
		max-width: 370px;
		font-size: 17px;
		line-height: 21px;
	}
	.swiper-fullwidth__nav {
		top: calc(100% - 50px - 10px);
	}
	.swiper-fullwidth__nav_prev {
		left: 10px;
	}
	.swiper-fullwidth__nav_next {
		right: 10px;
	}
}
.h2_pt75-pb50 {
	padding-top: 75px;
	padding-bottom: 50px;
}

@media (max-width: 991.5px) {
	.h2_pt75-pb50 {
		padding-top: 54px;
		padding-bottom: 40px;
	}
}
@media (max-width: 767.5px) {
	.h2_pt75-pb50 {
		padding-top: 43px;
		padding-bottom: 30px;
	}
}
@media (max-width: 575.5px) {
	.h2_pt75-pb50 {
		padding-top: 32px;
		padding-bottom: 20px;
	}
}
.category-cards-grid {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 25px;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: stretch;
	    -ms-flex-pack: stretch;
	        justify-content: stretch;
}

@media (max-width: 490px) {
	.category-cards-grid {
		grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
		gap: 10px;
	}
}
@media (max-width: 360px) {
	.category-cards-grid {
		-ms-grid-columns: 236px;
		grid-template-columns: 236px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		gap: 15px;
	}
}
.category-card {
	position: relative;
	display: inline-block;
	height: 300px;
	border-radius: 16px;
	overflow: hidden;
}
.category-card img {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.category-card p {
	position: absolute;
	z-index: 4;
	bottom: 36px;
	left: 50%;
	width: calc(100% - 50px);
	font-size: 18px;
	line-height: 24px;
	color: #FFF;
	text-align: center;
	font-weight: 500;
	-webkit-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
}
.category-card:after {
	content: "";
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	display: inline-block;
	height: 46%;
	width: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000));
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
.category-card:before {
	content: "";
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	display: inline-block;
	height: 100%;
	width: 100%;
	background: url("../img/category-card-hover-arrow.svg") no-repeat, -webkit-gradient(linear, left bottom, left top, from(rgba(52, 209, 134, 0.7)), to(rgba(52, 209, 134, 0.7)));
	background: url("../img/category-card-hover-arrow.svg") no-repeat, linear-gradient(0deg, rgba(52, 209, 134, 0.7) 0%, rgba(52, 209, 134, 0.7) 100%);
	background-size: 100px 100px, 100% 100%;
	background-position: top 76px center, center;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@media (hover: hover) {
	.category-card:hover p {
		text-decoration: underline;
	}
	.category-card:hover:before {
		opacity: 1;
	}
}
@media (max-width: 490px) {
	.category-card {
		height: 236px;
	}
	.category-card p {
		bottom: 25px;
		font-size: 14px;
		line-height: 18px;
	}
}